$black: #2e2d2d;
$white: #fff;
$yellow: #eebc12;
$medium-gray: #737373;
$light-gray: #dedada;
$gray: #383737;

$five: 5px;
$ten: 10px;
$fifteen: 15px;
$twenty: 20px;
$twentyfive: 25px;
$thirty: 30px;
$forty: 40px;
$fifty: 50px;
$seventyfive: 75px;
$hundred: 100px;
